<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>ToDo Backbone</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}backgrid/lib/backgrid.css">
  <style>
   body {
  padding-top:20px;
   }
   input,textarea{
   margin-bottom:10px
   }
   </style>
  </head>
  <body>
    <div class="col-md-8" id="taskgrid"></div>
    <div class="col-md-3" id="delete_span">
      <div class="well">
        <input class="form-control"  id="delete_span_input" type="text" placeholder="Input model ID to delete">
        <div id="deletebtn" class="btn btn-primary">Delete model with this id</div>
      </div>
      <div class="well">
        <input class="form-control" id="title" type="text" placeholder="Title">
        <textarea class="form-control" id="text" type="text" placeholder="Text"></textarea>
        <div id="createbtn" class="btn btn-primary">Create model</div>
      </div>
      <div id="loadmorebtn" class="btn btn-primary">Load more models</div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script> 
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="{{STATIC_URL}}todo/js/backbone-tastypie.js"></script>
  <script src="{{STATIC_URL}}backgrid/lib/backgrid.js"></script>
  <script>
  var taskurl = "/api/v1/todo/task/";
  var Task = Backbone.Tastypie.Model.extend({
    urlRoot: taskurl,
    idAttribute: "id",
    initialize: function () {
      Backbone.Model.prototype.initialize.apply(this, arguments);
      this.on("change", function (model, options) {
        if (options && options.save === false) return;
        model.save();
      });    
    },
    url: function(){
      if (this.id != undefined){
        return this.urlRoot + this.id + '/'
      }
      else{
        return this.urlRoot;
      }
    }
  });
  var Tasks = Backbone.Tastypie.Collection.extend({
    urlRoot: taskurl,
    model: Task,
    initialize: function() {
        this.bind('add', this.onModelAdded, this );
    },
  });
  var tasks = new Tasks();   
  
  var columns = [{
    name: "id", 
    label: "ID",
    editable: false, 
    cell: Backgrid.IntegerCell.extend({
      orderSeparator: ''
    })
    }, {
      name: "title",
      label: "Title",
      cell: "string"
    }, {
      name: "text",
      label: "Text",
      cell: "string"
    }];

  var grid = new Backgrid.Grid({
    columns: columns,
    collection: tasks
  });
  $("#taskgrid").append(grid.render().$el);
  tasks.fetch({reset: true});
  
  $("#deletebtn").on('click', function(){
    tasks.findWhere({id: parseInt($("#delete_span_input").val())}).destroy({wait: true});
  });
  $("#createbtn").on('click', function(){
    tasks.create({'title':$("#title").val(),'text':$("#text").val()})
  });
  $("#loadmorebtn").on('click',function(){
    tasks.fetchNext({remove:false});
  });
  </script>
</html>
